/** Home Page **/
body {
	padding-top: 165px;
	background-color: #f5f5f5;
    font-family: 'Droid Sans', sans-serif;
}
h1, h2, h3 {
    font-family: 'Signika Negative', sans-serif;
    line-height:1em;
}
h2 {
    padding:0px 0 20px 0;
    color:#E81B24;
    margin-top:0;
}
h3 {
  color: #0088cc;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  background: transparent url(bullet2.png) no-repeat left 2px;
  padding-left:17px;
}

#Rjlog td strong{
    margin-right: 30px;
}


.opcion{
    margin-left: 14px;
}

/** 2 level sub menu **/
.dropdown-menu-with-subs .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu-with-subs li:hover .sub-menu {
  visibility: visible;
  display: block;
}

/* Header Pacífica */
.navbar-header {
    background: #E81B24 url(logo4.png) no-repeat 20px center;
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #B42A2D;
}
.nav.pull-right {
    margin: 10px 15px 0px 0px !important;
}
.navbar .nav > li > a {
    color: black;
    -webkit-text-shadow: none;
    text-shadow: none;
}
.navbar .nav > li > a .icon-user {
    margin: 0px 5px 0px 0px;
    background:transparent url(icon-user.png) no-repeat left bottom;
}
.navbar .dropdown.open > a, .navbar .dropdown.open > a:hover {
    background:transparent !important;
    color:white !important;
}
.navbar .dropdown .caret, .navbar .dropdown.open .caret {
   border-top-color:white !important;
   border-bottom-color:white !important;
}
.navbar .dropdown a {
    outline:none !important;
}


.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

/** Global **/
#content {
  margin-left:0px;
}
.hide-sidebar, .show-sidebar {
  cursor: pointer;
}
.padd-bottom {
  margin-bottom: 5px;
}
.breadcrumb {
	margin: 0 0 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}

.easyPieChart {
	margin: 0px auto;
}

.chart-bottom-heading {
	margin-top: 10px;
	text-align: center;
}

/** Side Bar **/
.bs-docs-sidenav {
  max-width: 228px;
  margin: 0px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Icons
------------------------- */
.the-icons {
  margin-left: 0;
  list-style: none;
}
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
.the-icons i:hover {
  background-color: rgba(255,0,0,.25);
}

/* JD */
#container {
    width: 100%;
}
.programa, .programa * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.programa {
    display:inline-block;
    margin: 0px 1.2% 2% 0px;
    background-color: whiteSmoke;
    width: 15%;
    height: 90px;
    vertical-align:top;
    text-align: center;
    border-radius:4px;
    position: relative;
    cursor: pointer;
    border: 2px solid #555;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.programa:hover {
    border-color: #E81B24;
}
h4 {
    color:white;
    background: #888;
    text-align:center;
    display:block;
    font-weight:300;
    font-size: 14px;
    margin: 0px 0px 20px;
    line-height:1em;
    padding:5px 0px;
}
.programa:hover h4 {
    background: #0088cc;
}
.cantidad {
    color: #E81B24;
    text-align:center;
    display:inline-block;
    font-size: 30px;
    font-weight:500;
    margin: 0px 0px 20px 0px;
}
.btn {
	vertical-align:top !important;
}

.boxcard{
    width:400px;
    float:left;
    margin: 70px 40px 0 0;
}

.clear{
    clear:both;
}

/* FOOTER */
footer {
    text-align:center;
    background:#eee;
    border-top:1px dotted #E81B24;
}
footer p {
    text-align:center;
    margin: 8px 0px;
    font-size:13px;
}
footer p, footer a {
    color:#E81B24;
    text-decoration:none;
}

/* MEDIA */
@media all and (max-width:1059px) {
    .programa {
        height:auto;
    }
    .programa h4 {
        height:45px;
    }
}
@media all and (max-width:979px) {
    body {
        padding-top:0;
    }
    .navbar-inner {
        padding:0 !important;
    }
    .programa {
        border-color: #E81B24;
    }
    h4 {
        background: #0088cc;
    }
    .programa:active h4 {
        background: #E81B24;
    }
}
@media all and (max-width:745px) {
    .programa {
        width:23%;
    }
    .programa h4 {
        height:40px;
    }
}
@media all and (max-width:560px) {
    .programa {
        width:31%;
    }
    .navbar-inner {
        min-height:0px;
    }
    .navbar .nav > li > a {
        padding: 8px 12px 10px;
        font-size:13px;
    }
}
@media all and (max-width:400px) {
    .navbar-header {
        /*background-size:90% auto;*/
        background-position: center;
    }
    .programa {
        width:46%;
        margin: 0px 1.5% 4%;
    }
}

