@model AlphaScheduler.Models.Event

@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Calendar
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Calendar</li>
        </ol>
    </section>

    <!-- Main content -->
   
</div><!-- /.content-wrapper -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
