<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://alphascheduler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alphascheduler.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlphaScheduler</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlphaScheduler</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;Application Name=EntityFramework" Name="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlphaScheduler.Models.ApplicationDbContext, AlphaScheduler" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBALPHAEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;Application Name=EntityFramework" Name="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlphaScheduler.Models.DBALPHAEntities, AlphaScheduler" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBALPHAConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;Application Name=EntityFramework" Name="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBALPHAConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBALPHAConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBALPHAEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelDB.csdl|res://*/Models.ModelDB.ssdl|res://*/Models.ModelDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=dbalpha.database.windows.net;Initial Catalog=DBALPHA;Persist Security Info=True;User ID=alphaadmin;Password=@maria830;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>