@model IEnumerable<AlphaScheduler.Models.Profesor>

@{
    ViewBag.Title = "Profesor";
}
@section scripts{

    <script src="~/Scripts/Proyecto/Profesor.js"></script>

}
<h2>Sede</h2>

<div id="form">
    <form id="formContainer">
        <span>Sede </span>
        <select name="FK_Id_Sede" id="FK_Id_Sede">
            <option value="">Seleccionar</option>
            @foreach (var i in ViewBag.sede)
            {
                <option value="@i.Id_Sede">@i.Nombre</option>
            }

        </select>
        <div>
            <span>Nombre</span>
            <input type="text" id="Nombre" name="Nombre" />
        </div>
        <div>
            <span>Email</span>
            <input type="text" id="Email" name="Email" />
        </div>
        <div>
            <a id="btnEnviar" class="link" href="#"><span>Enviar</span></a>
        </div>
    </form>
</div>
@if (@Model != null)
{
    <div id="Details">
        <h4>DETALLES</h4>
        <table cellspacing="0" cellpadding="0" border="0" class="table table-striped table-bordered" id="tableDetails">
            <thead>
                <tr>

                    <td><strong>Nombre</strong></td>
                    <td><strong>Email</strong></td>

                </tr>

            </thead>
            @foreach (var i in Model.ToList())
            {
                <tr>

                    <td>
                        @i.Nombre
                    </td>
                    <td>
                        @i.Email

                    </td>

                </tr>
            }
        </table>
    </div>
}
else
{
    <h3>No existen datos que Mostrar </h3>
}

